

 .table-button{
  -fx-background-radius: 5em;
  -fx-min-width: 90px;
  -fx-min-height: 90px;
  -fx-max-width: 90px;
  -fx-max-height: 90px;
   -fx-background-color:#DAE7F7;
   -fx-text-fill:black;

  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
                }


